* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
}

body {
	font-family: 'Open sans', sans-serif;
}

header {
	text-align: center;
	background: none repeat scroll 0% 0% #222;
	padding: 2rem;
}

header a {
	text-decoration: none;
}

header h1 > a {
	font-size: 3rem;
	color: #fc0;
	margin: 2rem;
}

header p a {
	color: #999;
}

header p a:hover {
	color: #fc0;
}

header p {
	font-weight: normal;
	line-height: 3rem;
	color: #ddd;
	margin: 1.6rem auto;
	width: 50rem;
}

#questions {
	width: 650px;
	height: 1200px;
	margin: 0 auto;
}

section, p {
	margin: 2rem;
}
